body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 700;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
}

button {
    min-height: 56px;
    max-height: 56px;
    min-width: 160px;
    cursor: pointer;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #1F3347;
    background: #FFFDFD;
}

.bttn-secondary {
    background: #FFFDFD;
}

.bttn-primary {
    background: #FFC814;
}

input {
    background: #FFF;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 6px 24px #E4E2EE;
    padding: 20px 10px;
}